---
import Layout from '../../layouts/Layout.astro';
import ToolboxCards from '../../components/ToolboxCards.astro';

const title = 'Toolbox';
---

<Layout title={title}>
    <h1>Toolbox</h1>
    <ToolboxCards />
</Layout>